/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
composer.lock
package-lock.json
npm-debug.log
yarn.lock
yarn-error.log
.env
.env___*
.phpunit.result.cache
/public/js/app.js
/public/css/app.css
!/public/docscorreo
!/public/js/rxjs.umd.min.js
/public/fonts/
/public/js/node_modules_canvg_lib_index_es_js.js
/public/js/node_modules_dompurify_dist_purify_js.js
/public/js/node_modules_html2canvas_dist_html2canvas_js.js
/public/mix-manifest.json